.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  padding: 0 2rem;
  max-width: 1600px;
  margin-inline: auto;
}

.containerLeft {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.7rem;
  text-align: center;
}

.containerLeft h1 {
  text-align: left;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.containerRight img {
  max-width: 500px;
  border-radius: 1rem;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Joga a imagem para baixo do texto */
    text-align: center;
    gap: 1.5rem;
  }

  .containerLeft h1 {
    text-align: center; /* Centraliza o título no celular */
  }

  .containerRight img {
    max-width: 100%; /* Garante que a imagem não estoure a largura da tela */
    height: auto;
  }
}

@media (max-width: 768px) {
  .containerLeft h1 {
    display: flex;
  }

  .containerLeft p {
    font-size: 1.2rem;
  }
}
