* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-color: #0a0a0a;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

main {
  margin-top: 240px;
}

section {
  scroll-margin-top: 240px;
  min-height: calc(100vh - 240px);
  padding: 60px 20px;
}

@media (max-width: 768px) {
  main {
    margin-top: 70px; /* Ajusta o topo do conteúdo para a barra menor */
    padding: 10px;
  }

  section {
    scroll-margin-top: 70px; /* Faz o clique da navbar parar certinho na barra de 70px */
    min-height: calc(100vh - 70px);
    padding: 20px 0;
  }
}
